<div class="box box-info">
  <form class="form-horizontal noBorder" [formGroup]="stockForm">
    <div class="box-body">
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">股票名称</label>
        <div class="col-sm-6">
          <input type="text" formControlName="name" class="form-control" id="inputEmail"
            placeholder="股票名称">
        </div>
        <div class="col-sm-3">
          <span class="red" *ngIf="stockForm.hasError('required', 'name') && stockForm.get('name').dirty">名称是必填项</span>
          <span class="red" *ngIf="stockForm.hasError('minlength', 'name') && stockForm.get('name').dirty">名称不能少于6位</span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmai2" class="col-sm-2 control-label">股票价格</label>
        <div class="col-sm-6">
          <input type="number" formControlName="price" class="form-control" id="inputEmai2"
            placeholder="股票价格">
        </div>
        <div class="col-sm-3">
          <span class="red" *ngIf="stockForm.hasError('required', 'price') && stockForm.get('price').dirty">价格是必填项</span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmai3" class="col-sm-2 control-label">股票描述</label>
        <div class="col-sm-6">
          <input type="text" formControlName="desc" class="form-control" id="inputEmai3"
            placeholder="股票描述">
        </div>
        <div class="col-sm-3">
          <span class="red" *ngIf="stockForm.hasError('required', 'desc') && stockForm.get('desc').dirty">描述是必填项</span>
          <span class="red" *ngIf="stockForm.hasError('minlength', 'desc') && stockForm.get('desc').dirty">描述不能少于6位</span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmai4" class="col-sm-2 control-label">股票星级</label>
        <div class="col-sm-8">
          <app-stars [(rating)]="stock.rating" [readonly]="false"></app-stars>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">股票类型</label>
        <div class="col-sm-10 noBorder" formGroupName="categories">
          <div class="row">
            <!-- 注意下面不用 stockForm.get('categories').controls做循环-->
            <div class="col-sm-2" *ngFor="let categorie of categories; let i = index;">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [formControlName]="i"> {{categorie}}
                </label>
              </div>
            </div>
            <span class="col-sm-3 red" *ngIf="stockForm.hasError('cat', 'categories') && stockForm.get('categories').dirty">
              {{stockForm.getError('cat','categories')?.decs}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-default" (click)="cancelOrSave('cancel')">取消</button>
      <button type="submit" class="btn btn-info pull-right" [disabled]="!stockForm.valid" (click)="cancelOrSave('save')">保存</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>
